@import "_variable.scss";

.footer {
    min-width: 100%;
    position: relative;
    z-index: 0;
    background: $white;
    padding: 61px 0 48px 0;
    border-top: 1px solid #8F8D8D;

    &__row{
        display: flex;
        flex-direction: column;
    }

    &__menu{
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 32px 0px;
    }

    &__img{
        position: relative;
        width: 55px;
        height: 75px;
        z-index: 0;

        & img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
    }

    &__list{
        display: flex;
        justify-content: center;
        align-items: center;

        * li{
            display: flex;

        }
    }

    &__link{
        font-size: $h6;
        font-weight: $bold;
        color: $primary;
        cursor: pointer;
        margin: 0px 48px 0px 0px;
        transition: all 200ms ease;

        &:hover{
            color: $wine;
        }
    }

    &__button{
        width: 240px;
        padding: 13px 48px;
    }

    &__links{
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 48px 0px;
    }

    &__soc{
        display: flex;

        & li{
            list-style: none;
            margin: 0px 48px 0px 0px;
        }

        & li:last-child{
            margin: 0px;
        }
    }

    &__soc__link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background: $wine;
        border-radius: 50%;
    }

    &__contacts{
        display: flex;
        justify-content: center;
        align-items: center;
        & li {
            display: flex;
            list-style: none;
            font-size: $h6;
            font-weight: $bold;
            color: $grey;
            margin: 0px 48px 0px 0px;

            & p {
                margin: 0px 0px 0px 8px;
            }

            & p:last-child{
                margin: 0px 0px 0px 8px;
            }
        }

        & li:last-child{
            margin: 0px;
        }
    }

    &__copyrighted{
        font-size: $h6;
        font-family: $helvetica;
        color: $grey;
    }
}

.block__title{
    display: none;
}