@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');
$helvetica: "Helvetica", "Arial", sans-serif;
$nunito: 'Nunito Sans', sans-serif;

$h1: 64px;
$h2: 50px;
$h3: 38px;
$h4: 29px;
$h5: 22px;
$h6: 16px;

$light: 300;
$bold: 700;

$wine: #58181F;
$primary: #120A0B;
$grey: #8F8D8D;
$white: #fff;

